@font-face {
  font-family: "Adigiana-extreme";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Adigiana-Extreme.woff2") format("woff2"),
       url("../fonts/Adigiana-Extreme.woff") format("woff");
}